fastapi        == 0.111.0
gradio         == 4.38.1
ipykernel      == 6.29.5
jupyter-bokeh  == 4.0.5
jupyterlab     == 4.2.3
openai         == 1.35.9
pandas         == 2.2.2
sqlalchemy     == 2.0.31
sqlalchemy-orm == 1.2.10
streamlit      == 1.36.0
uvicorn        == 0.30.1
