:root {
  --font-size: 12px;
}

body {
  font-family: sans-serif;
}

textarea {
  max-width: auto;
  margin-right: auto;
  margin-left: auto;
}

.Storybook-nav-list a:focus {
  background-color: inherit;
}
