[Unit]
  Description=letta service
  After=network.target
  StartLimitIntervalSec=0

[Service]
  Type=simple
  Restart=always
  RestartSec=1
  User=centos
  ExecStart=/root/.nix-profile/bin/letta.py

[Install]
  WantedBy=multi-user.target